@using Umbraco.Cheatsheet.Core
@inherits UmbracoViewPage<MediaPicker>

<!--If the user didn't choose an image this will render an error on the page'-->
<h1>Variant 1</h1>
<img src="@Model.Image.Url()" />

<!--Error handling for Variant 1 use case-->
<h1>Variant 2</h1>
@if (Model.Image != null)
{
    <img src="@Model.Image.Url()" />
}

<!--Short hand error handling for Variant 2 use case-->
@Html.Wrap("h1", "Variant 3")
<img src="@(Model.Image?.Url())" />